absl-py==0.10
aiohttp==3.5.4
amqp==2.5.0
appnope==0.1.0
astor==0.8.0
async-timeout==3.0.1
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
billiard==3.6.0.0
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
cloudpickle==1.1.1
coverage==4.0.3
coveralls==1.7.0
cycler==0.10.0
dask==1.2.2
decorator==4.4.0
Django==2.2.1
django-celery-beat==1.5.0
django-celery-results==1.1.2
django-cors-headers==3.0.2
django-timezone-field==3.0
djangorestframework==3.9.4
docopt==0.6.2
entrypoints==0.3
flake8==3.7.7
flower==0.9.3
gast==0.4.0
grpcio==1.34.0
h5py==3.1.0
idna==2.8
idna-ssl==1.1.0
imageio==2.5.0
ipdb==0.12.3
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.14.0
joblib==0.14
Keras-Applications==1.0.7
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
kombu==4.6.1
Markdown==3.1.1
matplotlib==3.1.0
mccabe==0.6.1
mock==3.0.5
multidict==4.5.2
networkx==2.3
numpy
opencv-python==4.3.0.38
parso==0.5.0
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.3.0
pmrlanms
prompt-toolkit==2.0.9
protobuf==3.9.2
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.0
python-crontab==2.3.6
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
redis==3.2.1
requests==2.22.0
scikit-learn==0.22
scipy==1.5.0
six==1.15.0
sklearn==0.0
sqlparse==0.3.0
tensorboard==2.5.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-serving-api==2.5.0
termcolor==1.1.0
testresources==2.0.1
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
typing-extensions==3.7.4
urllib3==1.25.3
vine==1.3.0
wcwidth==0.1.7
Werkzeug==0.15.4
yarl==1.3.0
youtube-dl==2019.6.8
dj_database_url
gunicorn==20.1.0
wordninja==0.1.5
pmrlanms
